<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>629119130968-lajpj90idmucui97p8j91ednqroltcrq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.629119130968-lajpj90idmucui97p8j91ednqroltcrq</string>
	<key>API_KEY</key>
	<string>AIzaSyBAvDltOPzhfUSP3rjwYLIk-vrJkE5l-Eo</string>
	<key>GCM_SENDER_ID</key>
	<string>629119130968</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Robin.Job.Posts</string>
	<key>PROJECT_ID</key>
	<string>jobseek-b7668</string>
	<key>STORAGE_BUCKET</key>
	<string>jobseek-b7668.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:629119130968:ios:a7fe1886181cf9b2ced92d</string>
</dict>
</plist>